<div class="artist-container">
{{#each album }}
<div class="card">
<ul>
    <div class="title">{{ name }}</div>
    <br>
    <img src="{{images.1.url}}">
    <br>
    <a class="view-album" href="/tracks/{{id}}">View Tracks</a>
</ul>
</div>
{{/each}} 
</div>