<div class="artist-container">
  {{#each data}}
  <div class="card">
    <ul>
      <div class="title">{{name}}</div>
      <br />
      <img src="{{images.1.url}}" />
      <br />
      <a class="view-album" href="/albums/{{id}}">View Albums</a>
    </ul>
    </div>
  {{/each}}
</div>