
<h1>Artist Details</h1>
<div class="artist-container">
{{#each data }}
<ul>
    {{ name}}
    <br>
    <img src="{{images.1.url}}">
    <br>
    <a  class="view-album" href="/albums/{{id}}">View Albums</a>
</ul>
{{/each}}
</div>
