<div class="index-background">
<form  class="container" action="/artist-search" method="GET">
<label>
<input class="home-bar"type="text" name="artist"><br>
</label>
    </br>
<input class="home-button"type="submit" value="Search Artist">
</form> 
</div>