<header id="header-tracks">
    <h2 class="header-elem">Title</h2>
    <h2 class="header-elem">Listen</h2>
</header>
{{#each tracks }}
<div class="container-fluid">
<ul id="list-tracks">
   <div class="row">{{ name }}
    <audio  controls  src="{{preview_url}}">
    </audio>
    </ul>
   </div>
{{/each}} 
</div>