body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica";
 }
.index-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
 }

.container-home{
  background-color: #f8f8f8;
  padding: 50px;
  width: 600px;
  height: 200px;
  opacity: 0.7;
}
.home-bar {
  padding-right: 300px;
}

.artist-container{
  display:flex;
  align-content:space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
  }
.view-album{
  background-color: #dc143c;
  color:white;
  text-decoration: none;
}

#header-tracks {
  background-color: rgb(65, 64, 64);
  color:lightgray;
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  width: 85vw;
  align-self: center;
  position: relative;
  left: 3vw;
}
.header-elem {
  margin: 3vh 4vw;
}
.card{background-color: #E5E5E5;
display:flex;
margin: 30px;}

img{margin-bottom: 40px;
  margin-right: 30px; 
}

.title{font-weight: bold;
text-align: center;
margin-right: 40px;
color: white;
font-size: 30px;
-webkit-text-stroke: 1px black;
 font-family: arial; color: white;}

.container-fluid{background-color: #E5E5E5;
  width: 85vw;
  margin-left: 41px;

}

audio{margin-left:820px;
}

.row{font-weight: bold;
}

.card-title{
  font-weight: bold;
  font-size: larger;
  text-align: center;
}




