body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica";
 }
.index-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  background-color: #f8f8f8;
  padding: 50px;
  width: 600px;
  height: 200px;
  opacity: 0.7;
}
.home-bar {
  padding-right: 300px;
}
.home-button {
  margin-left: 180px;
  background-color: #dc143c;
}
.artist-container{
  display:flex;
}
.view-album{
  background-color: #dc143c;
  color:white;
  text-decoration: none;
}

#header-tracks {
  background-color: rgb(65, 64, 64);
  color:lightgray;
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  width: 85vw;
  align-self: center;
  position: relative;
  left: 3vw;
}
.header-elem {
  margin: 3vh 4vw;
}

